/*
https://www.w3schools.com/colors/colors_picker.asp
#778899
*/

html {
	font-family: Open Sans;
}

body {
	background-color: #b6bfc8;
}

h1 {
	/*color: green;*/
}

p {
	/*color: red;*/
}

button {
	border: 0;
	padding: 0;
	font-size: 100%;
	font-family: inherit;
	background-color: #26262a;
	color: white;
	outline: none;
	cursor: pointer;
}

button:hover {
	color: #d3d9de;
}

#navbar {
  	background-color: #26262a;
  	position: fixed;
  	top: 0;
  	width: 100%;
  	display: block;
  	text-align: right;
  	padding: 10px;
  	z-index: -1;
  	flex-direction: row;
}

#navbar a {
	margin-right: 20px;
	/*this is the distance between the buttons*/	
}

#navbar a:hover {
	background-color: #333;
}

img.resize {
	max-width:20%;
	max-height:20%;
}